# STM32CubeMX
*.mxproject

# STM32CubeMX Generated code
**/Drivers/**/*.*


# IAR C-STAT and C-RUN
# Comment this out if you use C-Stat or C-Run to compile/analyze your project
*.ewt

# IAR Debugger files
*.ewd

# IAR Workspace files
!*.eww

# IAR Settings
**/settings/*.crun
**/settings/*.dbgdt
**/settings/*.cspy
**/settings/*.cspy.*
**/settings/*.xcl
**/settings/*.dni
**/settings/*.wsdt
**/settings/*.wspos

# IAR Debug Exe
**/Debug/Exe/

# IAR Debug List
**/Debug/List

# IAR Build Obj
**/EWARM/**/Obj/**/*.o

# IAR Settings
**/EWARM/**/settings/**/*.*

# IAR Build Output
**/EWARM/**/Exe/**/*.out

# IAR Ninja Build
**/EWARM/**/*ninja*

# IAR Browse Info
**/EWARM/**/BrowseInfo/**/*.*

# IAR Debug Obj
**/EWARM/**/*.pbd
**/EWARM/**/*.pbd.*
**/EWARM/**/*.pbi
**/EWARM/**/*.pbi.*

# Log files
**.log

# IAR backup files
Backup*

# IAR .dep files
*.dep

# Compiled Binaries
*.bin
*.elf
*.hex
*.map

# Trash files
*.bak

# VS Code 
.vscode/*.json
!.vscode/c_cpp_properties.json